.jumbotron {
  color: white;
  background-image: url("/assets/blog-flotiq-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

a {
  color: white;
  text-decoration: none;
}

.jumbotron.footer {
  margin-bottom: 0;
  margin-top: 2rem;
  padding: 1rem 2rem;
}

.fas:before {
  font-family: "FontAwesome";
}

.snipcart-checkout {
  float: right;
  margin-right: 62px;
}
