.snipcart-add-item {
  margin-left: 100px;
}

.carousel-inner img {
  width: 100%;
  height: 100%
}

#custCarousel .carousel-indicators {
  position: static;
  margin-top: 20px
}

#custCarousel .carousel-indicators>li {
  width: 100px;
  height: 100px;
}

#custCarousel .carousel-indicators li img {
  display: block;
  opacity: 0.5;
}

#custCarousel .carousel-indicators li.active img {
  opacity: 1;
}

#custCarousel .carousel-indicators li:hover img {
  opacity: .75;
}
